.smallWidget {
  flex: 1;
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin-right: 20px;
}

.smallWidget_title {
  font-family: "Open Sans Condensed";
  font-size: 28px;
  font-weight: 600;
}
.smallWidget_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.smallWidget_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.smallWidget_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.smallWidget_user {
  display: flex;
  flex-direction: column;
}
.smallWidget_username {
  font-weight: 600;
}

.smallWidget_user_title {
  font-size: 22px;
  font-weight: 300;
}
.smallWidget_button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  background-color: #eeeef7;
  color: #555;
  cursor: pointer;
}
.smallWidget_icon {
  font-size: 1rem;
  margin-right: 5px;
}
