.chart {
  margin: 20px;
  padding: 20px;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
}
.chart_title {
  margin: 20px;
  font-family: "Open Sans Condensed";
  font-size: 24px;
}
